body{background-color:skyblue; color:blueviolet;}
h3{text-align:center; color:darkred;
   font-sizw : 30px;}
div{background-color:aliceblue;
    background-size: 100px100px;
    background-image : url("media/나비.jpg");
    background-repeat : no-repeat;
    background-position : left center;}
div{width : 200px;
    height : 200px;
    color : blueviolet;
    font-size: 16px;}
