body{background-color:skyblue;}
h3{background-color: linen;
   text-align:center; color:darkred;
   font-size : 60px;}
div{background-color:linen;
    background-size: 800px 400px;
    background-image : url("media/나비.jpg");
    background-repeat : no-repeat;
    background-position : left center;}
div{width: 900px;
    height: 300px;
    color: red;
    font-size: 45px;}
div{width: 300px;
    height: 300px;
    font-size: 40px;}
