h3{background-color: linen;
   text-align:center; color:darkred;
   font-size : 60px;}
div{
   background-color: linen;
    background-size: 800px 500px;
    background-image : url("media/나비.jpg");
    background-repeat : no-repeat;
    background-position : center;
   }
div{
   width: 1000px;
    height: 600px;
    color: red;
    font-size: 40px;
   }
hr{height:3px; border: solid grey;
   background-color:grey;}
span{color : blue; font-size:40px;}
